<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
  <head>
    <title>Demnde Cloturée</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div>
      <span>Votre demande </span>
      <span th:text="${etatDemandeHist.demande.libelle}"></span>
      <span> a été cloturée.</span>
    </div>
    <div>
      <span> Veulliez vous rendre sur le site www.mediateurassurance.ma  </span>
      <span> pour consulter votre demande dans la rubrique "Suivre Demande"</span>
    </div>
  </body>
</html>
